<div class="panel panel-default">
				<div class="panel-heading">
				<h3 class="panel-title gray">Your Superhero Team...</h3>
				</div>
				<div class="panel-body">
					<div class="row">
					<div class="col-md-8">
					
					<% @team_number.times do %>
					    <% rand_pic = rand(1..2) %>
    					<img src="<%= Faker::Avatar.image(rand(1..100), "175x175", "png", if (rand_pic == 1) then "set1" else "set2" end, "bg2" ) %>" align="left" class="hero_img">
    					<h3>Superhero Name: <br/><span class="red"><%= Faker::Superhero.name %></span></h3>
    					<h3>Super Power: <br/><span class="red"><%= Faker::Superhero.power %></span></h3>
    					
    					<br/><br/><br/><br/>
    					
    					
    					<h4>Their Undercover Day Job is: <%= Faker::Name.title %></h4>
    					<h4>Their Corporate Superpower is: <%= Faker::Company.bs.titleize %></h4>
    					
    					<hr/>
    					
					<% end %>
					</div>
					
					
					
					
					<div class="col-md-4">
						<%= render "home/side_team_ad" %>
					</div>	
					
					</div>
				</div>
				<div class="panel-footer"><%= link_to "Create New Team...", home_team_path %></div>
			</div>
    