<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title gray">Your Superhero Team...</h3>
</div>
<div class="panel-body">
	
	
	
	<% @team_number.times do %>
	    <% rand_pic = rand(1..2) %>
            <div class="row">
    	        <div class="col-md-4">
    			    <img src="<%= Faker::Avatar.image(rand(1..100), "300x300", "png", if (rand_pic == 1) then "set1" else "set2" end, "bg2" ) %>" class="hero_img">
    			</div>
    					
    		    <div class="col-md-4">
        			<h3>Superhero Name: <br/><span class="red"><%= Faker::Superhero.name %></span></h3>
        			<h3>Super Power: <br/><span class="red"><%= Faker::Superhero.power %></span></h3>
        					
        			<br/>
        					
    				<h4>Their Undercover Day Job is:<br/> <span class="corporate"><%= Faker::Name.title %></span></h4>
    				<h4>Their Corporate Superpower is:<br/> <span class="corporate"><%= Faker::Company.bs.titleize %></span></h4>
    			</div>
    			
    			<div class="col-md-4">
                	<%= render "home/side_team_ad" %>
                </div>	
	
    		</div>	
    	    <div class="row">
        	    <div class="col-md-12">
        	        <hr>
        	    </div>
    	    </div>
    		
	<% end %>
	
	</div>
	<div class="panel-footer"><%= link_to "Create New Team...", home_team_path %></div>
</div>
    