<div class="container" >
    <%= render 'home/top_index_ad' %>
    
    <br/>

			<div class="panel panel-default">
				<div class="panel-heading">
				<h3 class="panel-title gray"><%= link_to "Click Here To Generate A New Superhero", root_path %></h3>
				</div>
				<div class="panel-body">
					<div class="row">
					<div class="col-md-4">
					    <img src="<%= @super_hero_avatar %>" class="hero_img">
					</div>
					
					<div class="col-md-4">
    					<h3>Your Superhero Name: <br/><span class="red"><%= @super_hero_name %></span></h3>
    					<h3>Your Super Power: <br/><span class="red"><%= @super_hero_power %></span></h3>
    					
    					<br/>
    					
    					
    					<h4>Your Undercover Day Job is: <br/><span class="corporate"><%= @corporate_job %></span></h4>
    					<h4>Your Corporate Superpower is: <br/><span class="corporate"><%= @corporate_power.titleize %></span></h4>
					</div>
					
					<div class="col-md-4">
						<%= render "home/side_ad_code" %>
					</div>	
					
					</div>
				</div>
				<div class="panel-footer"><%= link_to "Create A Whole Superhero Team", home_team_path %></div>
			</div>
    
    
    
    
    
    
    
</div>