<!DOCTYPE html>
<html>
<head>
  <title>Superhero Name Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <style>
    html,
		body {height:100%; background-color: #fff;  background-image: url("assets/stripe2.png")}
		.panel-body{margin-bottom: 30px; margin-top:20px;}
		.panel{margin-bottom: 100px;}
		h2 {color: #777777;}
		h4 {color: #ccc;}
		.red {color: red;}
  </style>
</head>
<body>
<%= render 'home/nav' %>
<%= yield %>

</body>
</html>
